
body{
	background: #17445E;
}

h1{
    text-align: center;
    color: white;
}
.form-style{
	max-width: 450px;
	background: white;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
    border: 6px solid #305A72;
}
	
#first{
	background: rgba(0,0,255,0.2);

}

.form-style  input[type="button"]:hover, 
.form-style  input[type="submit"]:hover  {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
    background-color: #28739E;
    cursor: pointer;
    
}



